.price{font-family: helvetica; font-weight: bold; color: blue}

.brush{background-color: mediumspringgreen;
   font-family: helvetica; font-size: 32px;
   font-weight: bold; color: white;}

.frame{background-color: lightcoral;
    font-family: helvetica; font-size: 32px;
    font-weight: bold; color: white;}

.paint{background-color: skyblue;
     font-family: helvetica; font-size: 32px;
     font-weight: bold; color: white;}

h1{font-family: helvetica; font-size: 100px;
      font-weight: bold; color: khaki;
    text-align: center;
  background-image: url(../../images/pattern.jpeg);}
